= form_for(@city) do |f|
  - if @city.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@city.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @city.errors.full_messages.each do |msg|
        %li= msg
  

  .actions
    = f.submit
